body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: dimgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fov {
  position: absolute;
  z-index: 2;
  width: 270px;
  right: 2rem;
  bottom: 2rem;
}